@import "colors";
@import "fonts";


.resultTableColumnHeader {
  @extend %spanFont;

  text-align: center;
  vertical-align: center;

  border-bottom: 2px solid $inverseColor;
  border-top: 3px solid $inverseColor;
  border-right: 1px solid $inverseColor;
  border-left: 1px solid $inverseColor;
  padding: 0 0 0 0;

  width: 5vw;
  height: 50px;

  background: transparent;
  color: $inverseColor !important;
}

.resultTable {
  padding: 7vh 20% 5%;
  border-spacing: 0;

  .resultTableHeaderLine {
    td:nth-child(1) {
      border-left: 3px solid $inverseColor;
    }

    td:nth-child(6) {
      border-right: 3px solid $inverseColor;
    }

    &:nth-last-child(1) td {
      border-bottom: 3px solid $inverseColor;
    }
  }

  .resultTableLine {
    td {
      @extend %inputFont;

      text-align: center;
      vertical-align: center;

      border-bottom: 1px solid $inverseColor;
      border-top: 1px solid $inverseColor;
      border-right: 1px solid $inverseColor;
      border-left: 1px solid $inverseColor;
      padding: 0 0 0 0;

      background: transparent;
      color: $inverseColor !important;
    }

    td:nth-child(1) {
      border-left: 3px solid $inverseColor;
    }

    td:nth-child(6) {
      border-right: 3px solid $inverseColor;
    }
  }

  .resultTableLine:nth-last-child(1) td {
    border-bottom: 3px solid $inverseColor;
  }
}

